@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --color-purple-50: oklch(0.8631 0.049 314.15); /* #DEC9E9 */
  --color-purple-100: oklch(0.848 0.0563 312.73); /* #DAC3E8 */
  --color-purple-200: oklch(0.8174 0.0698 311.19); /* #D2B7E5 */
  --color-purple-300: oklch(0.7539 0.0999 308.32); /* #C19EE0 */
  --color-purple-400: oklch(0.6919 0.1306 306.82); /* #B185DB */
  --color-purple-500: oklch(0.6297 0.1593 305.14); /* #A06CD5 */
  --color-purple-600: oklch(0.5939 0.1576 302.27); /* #9163CB */
  --color-purple-700: oklch(0.5562 0.1548 298.93); /* #815AC0 */
  --color-purple-800: oklch(0.5191 0.1526 295.86); /* #7251B5 */
  --color-purple-900: oklch(0.479 0.152 292.26); /* #6247AA */
  --color-white: oklch(0.9702 0 0); /* #F5F5F5 */
  --color-black: oklch(0.1822 0 0); /* #121212 */

    --font-headline: "Oswald", sans-serif;
    --font-display: "Inter", sans;
}

body {
  background-color: var(--color-white);
}

